@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.nav{
    width: 100%!important;
    background: #e25141;
    color: #fff;
    padding: 10px;
    margin-top: -8px;
    display: flex;
    justify-content: center;
    font-size: 42px;
    font-family: Raleway ;
    font-weight: 100;
}
.container{
  
  padding: 20px !important;
  box-shadow: inset 0 0 67px -29px rgba(0,0,0,.5);
  margin-top: 20px !important;
  border-radius: 5px;
  width: 55% !important;
}
.img{
   max-width: 80%;
}
.heading{
    font-size: 36px;
    line-height: 1.3;
    letter-spacing: -.1rem;
    font-weight: 300;
    font-family:Raleway ;
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 300;
}
p{
    margin: 0px 0px 25px;
    margin-bottom: 2.5rem;
    font-size: 15px;
    font-family: Raleway ;
    color: #222222;
    margin-bottom: 2.5rem;
}
.add{
    color: #222222;
    font-size: 30px;
    font-weight: 100;
    font-family: Raleway;

}
.del{
    background-color: #E25141;
    padding: 1px 6px;
    border: none;
    border-radius: 5px;
   position: absolute;
   left : 80%;
    color: white;
}
.hide{
    position: relative;
    /* top: 0px; */
    left: 70%;
    cursor: pointer;
    color: #39beb9;
}